<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품</title>
</head>
<body>
    <form action="ex08_1" method="get">
        이름<input name="name" type="text">
        가격<input name="price" type="text">
        재고<input name="stock" type="text">
        브랜드<input name="brand" type="text">
        <button type="submit">입력</button>
    </form>

    <form action="ex09" method="get">
        국어<input name="kor" type="text">
        영어<input name="eng" type="text">
        수학<input name="math" type="text">
        <button type="submit">입력</button>
    </form>


</body>
</html>